{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'inicio/404.css' %}">
{% endblock styles %}

{% block title %}
    Cat 404
{% endblock title %}

{% block header_title %}
    {% include 'layouts/header_title.html' %}
{% endblock header_title %}

{% block content %}


<div class="cat"></div>
<canvas class="lazers"></canvas>


{% endblock content %}

{% block js %}
    <script src="{% static 'inicio/404.js' %}"></script>
{% endblock %}
