{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'inicio/styles.css' %}">
{% endblock styles %}

{% block title %}
    Agentes
{% endblock title %}

{% block header_title %}
    {% include 'layouts/header_title.html' %}
{% endblock header_title %}

{% block content %}


agentes

{% if agentes %}
{% for agente in agentes %}
  <b><p>Nombre: {{agente.nombre}}</p></b>
  <p><b>Estados:</b> {{agente.estado}}</p>
  <p><b>Transiciones:</b> {{agente.transicion}}</p>
  <img src="{{ agente.imagen.url }}" style="width:600px"/>
{% endfor %}
{% endif %}



{% endblock content %}

{% block js %}
    <script src="{% static 'inicio/script.js' %}"></script>
{% endblock %}
