{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'inicio/styles.css' %}">
{% endblock styles %}

{% block title %}
    Ejemplos
{% endblock title %}

{% block header_title %}
    {% include 'layouts/header_title.html' %}
{% endblock header_title %}

{% block content %}

<div class="col-xs-12">

<div class="col-xs-6">
{% if nevera %}
<h2>Nevera</h2>
  {% for nev in nevera %}
    <b><p> Agente para probar temperatura</p></b>
    <p><b>Estados:</b> {{nev.estado}}</p>
    <p><b>Transiciones:</b> {{nev.transicion}}</p>
    <img src="{{ nev.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>
<div class="col-xs-6">
<br></div>    

<div class="col-xs-6">
{% if crop %}
<h2>SmartCrop</h2>
{% for scrop in crop %}
  <b><p> Agente de medición para SmartCrop</p></b>
  <p><b>Estados:</b> {{scrop.estado}}</p>
  <p><b>Transiciones:</b> {{scrop.transicion}}</p>
  <img src="{{ scrop.imagen.url }}" style="width:500px"/>
{% endfor %}
{% endif %}
</div>
</div>    
 
<div class="col-xs-12">
    
<div class="col-xs-6">
{% if apuestas1 %}
<h2>Casino</h2>
  {% for apuesta1 in apuestas1 %}
    <b><p>Agente Apertura Apuestas</p></b>
    <p><b>Estados:</b> {{apuesta1.estado}}</p>
    <p><b>Transiciones:</b> {{apuesta1.transicion}}</p>
    <img src="{{ apuesta1.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>


<div class="col-xs-6">
{% if apuestas2 %}
  {% for apuesta2 in apuestas2 %}
    <b><p>Agente Cierra Apuestas</p></b>
    <p><b>Estados:</b> {{apuesta2.estado}}</p>
    <p><b>Transiciones:</b> {{apuesta2.transicion}}</p>
    <img src="{{ apuesta2.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>
</div>
    

<div class="col-xs-6">
{% if apuestas3 %}
  {% for apuesta3 in apuestas3 %}
    <b><p>Agente Dealer</p></b>
    <p><b>Estados:</b> {{apuesta3.estado}}</p>
    <p><b>Transiciones:</b> {{apuesta3.transicion}}</p>
    <img src="{{ apuesta3.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>




<div class="col-xs-6">
{% if apuestas4 %}
  {% for apuesta4 in apuestas4 %}
    <b><p>Agente Paga Apuestas</p></b>
    <p><b>Estados:</b> {{apuesta4.estado}}</p>
    <p><b>Transiciones:</b> {{apuesta4.transicion}}</p>
    <img src="{{ apuesta4.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>


<div class="col-xs-6">
{% if materia %}
<h2>Random</h2>
  {% for mat in materia %}
    <b><p> Estados de la materia</p></b>
    <p><b>Estados:</b> {{mat.estado}}</p>
    <p><b>Transiciones:</b> {{mat.transicion}}</p>
    <img src="{{ mat.imagen.url }}" style="width:500px"/>
  {% endfor %}
{% endif %}
</div>

</div>


{% endblock content %}

{% block js %}
    <script src="{% static 'inicio/script.js' %}"></script>
{% endblock %}
