{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'inicio/styles.css' %}">
{% endblock styles %}

{% block title %}
    Inicio
{% endblock title %}

{% block header_title %}
    {% include 'layouts/header_title.html' %}
{% endblock header_title %}

{% block content %}



<div class="container">

    <ul class="social">

        <li class="facebook"><a href="{% url 'inicio:ejemplos' %}" class="entypo-facebook"></a></li>
        <li class="twitter"><a href="{% url 'inicio:agentes' %}" class="entypo-twitter"></a></li>
        <li class="dribbble"><a href="{% url 'inicio:prog' %}" class="entypo-dribbble"></a></li>
        <li class="behance"><a href="{% url 'inicio:404' %}" class="entypo-behance"></a></li>
        <li class="linked-in"><a href="{% url 'inicio:doc' %}" class="entypo-linkedin"></a></li>

    </ul>
</div>



{% endblock content %}

{% block js %}
    <script src="{% static 'inicio/script.js' %}"></script>
{% endblock %}
