{% load staticfiles %}

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu --> 
      <ul class="sidebar-menu">

        {% if sidebar %}
            {% for label in sidebar.labels %}
                <li id="{{label.id}}" class="active">
                    <a href="#">
                        <i class="{{ label.class }}"></i>
                        <span>{{label.name}}</span>
                    </a>
                    {% if label.sublabel %}
                        <ul class="treeview-menu menu-open" style="overflow: hidden; display: block;">
                            {% for sublabel in label.sublabel %}
                                <li>
                                    <a href="{{ sublabel.href }}">
                                        <i class="{{ sublabel.class }}"></i>
                                        {{ sublabel.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul class="treeview-menu menu-open" style="overflow: hidden; display: block;"> 
          </ul>
            {% endfor %}
        {% else %}
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="{% url 'inicio:ejemplos' %}">
                    <i class="fa fa-ambulance"></i>
                    <span>Ejemplos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inicio:agentes' %}">
                    <i class="fa fa-group"></i>
                    <span>Agentes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inicio:prog' %}">
                    <i class="fa fa-file-text-o"></i>
                    <span>Programación</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inicio:404' %}">
                    <i class="fa fa-calendar-times-o"></i>
                    <span>La mejor parte</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inicio:doc' %}">
                    <i class="fa fa-bank"></i>
                    <span>Documentación</span>
                </a>
            </li>
        {% endif %}

        
      </ul>
    </section>
  </aside>